
server:
  port: 9001

spring:
  application:
    name: data-analysis-service
  cloud:
    config:
      discovery:
        enabled: true
        service-id: data-analysis-config  # 指定Config服务端在服务发现中的serviceId
      fail-fast: true
      uri: http://localhost:8762

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8762/eureka/
debug: true
logging:
  level:
    org:
      springframework:
        cloud:
          config=DEBUG:
